.header {
  padding-top: 1.625rem;
  position: relative;
  height: 43.75rem;
  background-color: var(--primary-beige);
  background-image: url("../img/header__bg.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -6.5rem;
}
.header::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/texture-bg.png");
  mix-blend-mode: color-burn;
  z-index: 1;
}
.header .container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
@media (width < 576px) {
  .header .container {
    row-gap: 2.5rem;
  }
}
@media (width < 576px) {
  .header {
    padding-top: 1.125rem;
    height: 48.375rem;
    background-position-x: -22rem;
    background-position-y: 105%;
    background-size: 205%;
  }
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
  z-index: 10;
}
.header-logo__img {
  width: 5.75rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (width < 576px) {
  .header-logo__img {
    width: 5rem;
    height: 1.688rem;
  }
}
.header-logo__text {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  font-feature-settings: "pnum" on, "lnum" on;
  line-height: 108%;
  text-transform: uppercase;
  color: var(--brown_3);
}
@media (width < 576px) {
  .header-logo__text {
    font-size: 0.875rem;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 33.875rem;
  z-index: 10;
}
.header-content__headline {
  display: flex;
  flex-direction: column;
}
.header-content__headline span {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 110%;
  text-transform: uppercase;
  text-align: left;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
}
.header-content__headline span:nth-child(2) {
  text-align: center;
}
.header-content__headline span:nth-child(3) {
  text-align: right;
}
@media (width < 576px) {
  .header-content__headline span {
    font-size: 2.25rem;
  }
}
.header-content__text {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 130%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
}
@media (width < 576px) {
  .header-content__text {
    text-align: left;
  }
}
.header-content__buttons {
  margin-top: 1rem;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.header-content__buttons a {
  flex: 1 1 0;
  text-decoration: none;
}
@media (width < 576px) {
  .header-content__buttons a {
    flex-basis: auto;
  }
  .header-content__buttons a:last-child {
    border: none;
    background-color: var(--white);
    opacity: 0.9;
  }
  .header-content__buttons a:last-child:hover {
    background-color: var(--brown_1);
    opacity: 1;
  }
}
@media (width < 576px) {
  .header-content__buttons {
    margin-top: 0.5rem;
    flex-direction: column;
    row-gap: 0.875rem;
  }
}
@media (width < 576px) {
  .header-content {
    width: unset;
  }
}

.footer {
  background-color: var(--primary-beige);
}
.footer__text {
  padding: 2.5rem 0 4.5rem;
  max-height: 9.375rem;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
  opacity: 0.6;
}
@media (width < 576px) {
  .footer__text {
    padding: 2.5rem 0 3.75rem;
    max-height: 13.375rem;
  }
}

.ticker {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  height: 3.75rem;
  background-color: var(--primary-red);
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ticker__group {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  flex-shrink: 0;
  animation: scroll 30s linear infinite;
}
.ticker__group-text {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--white);
}
.ticker__group-text::after {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 100%;
  background: var(--white);
}
@media (width < 576px) {
  .ticker__group-text {
    font-size: 1rem;
  }
}
@media (width < 576px) {
  .ticker {
    height: 2.375rem;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.agitation {
  margin-top: 5rem;
}
@media (width < 576px) {
  .agitation {
    margin-top: 3rem;
  }
}

.agitation-head {
  position: relative;
}
.agitation-head__headline {
  max-width: 47.75rem;
}
@media (width < 1180px) {
  .agitation-head__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    max-width: unset;
  }
}
.agitation-head__text {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 135%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
}
@media (width < 1180px) {
  .agitation-head__text {
    text-align: center;
  }
}
@media (width < 576px) {
  .agitation-head__text {
    font-size: 1.75rem;
    text-align: left;
  }
}
.agitation-head__img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24.625rem;
  height: 15.625rem;
  background: url("../img/chees-tournament.jpg") center center no-repeat;
  background-size: cover;
  -webkit-clip-path: ellipse(50% 50%);
          clip-path: ellipse(50% 50%);
}
.agitation-head__img::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/texture-bg.png");
  mix-blend-mode: color-burn;
  z-index: 1;
}
@media (width < 1180px) {
  .agitation-head__img {
    position: relative;
    top: unset;
    transform: unset;
  }
}
@media (width < 576px) {
  .agitation-head__img {
    width: 21rem;
    max-width: 100%;
    height: 13.25rem;
  }
}

.agitation-main {
  margin-top: 5.75rem;
  display: flex;
  -moz-column-gap: 2.75rem;
       column-gap: 2.75rem;
}
.agitation-main__img {
  position: relative;
  width: 500px;
  height: 527px;
}
.agitation-main__img > div {
  padding: 3rem 1.625rem 0;
  position: absolute;
  top: -4.75rem;
  left: -5rem;
  width: 609px;
}
.agitation-main__img > div > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width < 1180px) {
  .agitation-main__img > div > img {
    height: 100%;
  }
}
@media (width < 1180px) {
  .agitation-main__img > div {
    padding: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: 100%;
  }
}
@media (width < 1180px) {
  .agitation-main__img {
    width: 100%;
    height: 420px;
  }
}
.agitation-main__description {
  flex: 7 1 0;
}
@media (width < 576px) {
  .agitation-main__description {
    row-gap: 2.75rem;
  }
}
.agitation-main__headline {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 135%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
}
@media (width < 992px) {
  .agitation-main__headline {
    text-align: center;
  }
}
@media (width < 576px) {
  .agitation-main__headline {
    font-size: 1.75rem;
    text-align: left;
  }
}
.agitation-main__table {
  margin-top: 3.75rem;
}
.agitation-main__table-item {
  display: flex;
}
.agitation-main__table-item:not(:last-child) {
  border-bottom: 2px solid var(--brown_4);
}
.agitation-main__table-item > span {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
  white-space: nowrap;
}
.agitation-main__table-item > span:first-child {
  padding: 1rem 1rem 1rem 0;
  flex: 3 1 0;
  min-width: 19.125rem;
  border-right: 2px solid var(--brown_4);
}
@media (width < 992px) {
  .agitation-main__table-item > span:first-child {
    flex: 1 1 50%;
    min-width: unset;
  }
}
@media (width < 576px) {
  .agitation-main__table-item > span:first-child {
    padding: 0;
    border-right: none;
  }
}
.agitation-main__table-item > span:last-child {
  padding: 1rem 0 1rem 1rem;
  flex: 4 1 0;
  font-weight: 600;
}
@media (width < 992px) {
  .agitation-main__table-item > span:last-child {
    flex: 1 1 50%;
  }
}
@media (width < 576px) {
  .agitation-main__table-item > span:last-child {
    padding: 0 0 1rem;
  }
}
.agitation-main__table-item > span .old-price {
  margin-right: 0.75rem;
  -webkit-text-decoration: line-through var(--primary-red);
          text-decoration: line-through var(--primary-red);
}
@media (width < 992px) {
  .agitation-main__table-item > span {
    white-space: wrap;
  }
}
@media (width < 576px) {
  .agitation-main__table-item {
    flex-direction: column;
    row-gap: 0.75rem;
  }
}
@media (width < 576px) {
  .agitation-main__table-item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (width < 992px) {
  .agitation-main__table {
    margin-top: 2.75rem;
  }
}
.agitation-main__sign {
  margin-top: 3rem;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--primary-blue);
}
@media (width < 992px) {
  .agitation-main__sign {
    margin-top: 2.5rem;
    font-size: 1.125rem;
  }
}
@media (width < 992px) {
  .agitation-main {
    margin-top: 1.25rem;
    flex-direction: column;
    row-gap: 1.25rem;
  }
}

.stages {
  margin-top: 12.5rem;
}
.stages .stages-slide-wrapper {
  position: relative;
  display: none;
}
.stages .stages-slide-wrapper .stages-slide-img {
  position: absolute;
  top: -6rem;
  left: 0.75rem;
  width: 19.875rem;
  transform: rotate(-19deg);
  z-index: 100;
}
.stages .stages-slide-wrapper .slider-single {
  position: relative;
  margin-top: 9.25rem;
}
.stages .stages-slide-wrapper .slider-single .stages-slide {
  position: relative;
  padding: 3.875rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  height: 18.75rem;
  background: url("../img/texture-card.jpg") center center no-repeat;
  background-size: cover;
}
.stages .stages-slide-wrapper .slider-single .stages-slide::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/texture-bg.png") center center no-repeat;
  mix-blend-mode: color-burn;
  z-index: 1;
}
.stages .stages-slide-wrapper .slider-single .stages-slide__card {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.stages .stages-slide-wrapper .slider-single .stages-slide__counter {
  min-width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: var(--white);
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: center;
  align-content: center;
  color: var(--brown_2);
  z-index: 10;
}
.stages .stages-slide-wrapper .slider-single .stages-slide__text {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
  z-index: 10;
}
@media (width < 576px) {
  .stages .stages-slide-wrapper {
    display: block;
  }
}
@media (width < 992px) {
  .stages {
    margin-top: 7.5rem;
  }
}

.stages-head__headline {
  max-width: 50rem;
}
.stages-head__headline span {
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
}
.stages-head__headline span:first-child {
  font-family: "Merriweather";
  font-size: 3.375rem;
  text-transform: uppercase;
  color: var(--brown_2);
}
@media (width < 576px) {
  .stages-head__headline span:first-child {
    font-size: 2.25rem;
  }
}
.stages-head__headline span:last-child {
  display: inline-block;
  max-width: 17.5rem;
  font-family: "Golos Text";
  font-size: 1.25rem;
  color: var(--primary-blue);
}
@media (width < 576px) {
  .stages-head__headline span:last-child {
    margin-top: 0.75rem;
    max-width: 100%;
    font-size: 1.125rem;
  }
}
@media (width < 576px) {
  .stages-head__headline {
    max-width: 100%;
  }
}

.stages-grid {
  margin-top: 3.375rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 7rem 7rem 8.5rem;
  grid-template-areas: "one two three" "four five three" "six seven seven";
  gap: 1.25rem;
}
.stages-grid__card {
  position: relative;
  padding: 1.25rem;
  position: relative;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  min-height: 7rem;
  background: url("../img/texture-card.jpg") center center no-repeat;
  background-size: cover;
}
.stages-grid__card::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/texture-bg.png") center center no-repeat;
  mix-blend-mode: color-burn;
  z-index: 1;
}
.stages-grid__card-counter {
  min-width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: var(--white);
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: center;
  align-content: center;
  color: var(--brown_2);
  z-index: 10;
}
.stages-grid__card-text {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
  z-index: 10;
}
@media (width < 1336px) {
  .stages-grid__card-text {
    font-size: 1rem;
  }
}
.stages-grid__card-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 23.375rem;
  transform: rotate(-15deg) translate(3.625rem, -2.5rem);
}
@media (width < 1336px) {
  .stages-grid__card-img {
    transform: rotate(-15deg) translate(0.75rem, -3rem);
  }
}
@media (width < 1180px) {
  .stages-grid__card-img {
    width: 18.25rem;
  }
}
@media (width < 768px) {
  .stages-grid__card-img {
    width: 13.5rem;
    transform: rotate(-15deg) translate(0.75rem, 0rem);
  }
}
.stages-grid__card:nth-child(1) {
  grid-area: one;
}
.stages-grid__card:nth-child(2) {
  grid-area: two;
}
.stages-grid__card:nth-child(3) {
  grid-area: three;
}
.stages-grid__card:nth-child(4) {
  grid-area: four;
}
.stages-grid__card:nth-child(5) {
  grid-area: five;
}
.stages-grid__card:nth-child(6) {
  grid-area: six;
}
.stages-grid__card:nth-child(7) {
  grid-area: seven;
}
.stages-grid__card:nth-child(7) .stages-grid__card-text {
  flex-shrink: 0;
  width: 26rem;
}
@media (width < 1336px) {
  .stages-grid__card:nth-child(7) .stages-grid__card-text {
    width: 22rem;
  }
}
@media (width < 1180px) {
  .stages-grid__card:nth-child(7) .stages-grid__card-text {
    width: 18rem;
  }
}
@media (width < 992px) {
  .stages-grid__card:nth-child(7) .stages-grid__card-text {
    width: 55%;
  }
}
@media (width < 992px) {
  .stages-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-template-areas: "one two" "three three" "four five" "six six" "seven seven";
  }
}
@media (width < 576px) {
  .stages-grid {
    display: none;
  }
}

.members {
  margin: 12.5rem 0 8.75rem;
}
.members__headline {
  margin-bottom: -3.25rem;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 120%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
}
@media (width < 768px) {
  .members__headline {
    margin: 0;
    font-size: 2.25rem;
  }
}
.members .slider-multi {
  padding-top: 7.25rem;
  padding-bottom: 1px;
}
.members .slider-multi .controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
}
@media (width < 992px) {
  .members .slider-multi .controls {
    position: relative;
    top: unset;
    right: unset;
    margin: 2.5rem auto 0;
  }
}
@media (width < 768px) {
  .members .slider-multi .controls {
    width: 8.5rem;
  }
}
@media (width < 768px) {
  .members .slider-multi {
    padding: 0;
    margin-top: 2.5rem;
  }
}
.members-slide__img {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members-slide__img img {
  width: 20rem;
  aspect-ratio: 1;
}
@media (width < 1180px) {
  .members-slide__img img {
    width: 15.25rem;
  }
}
.members-slide__img-description {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.375rem;
}
.members-slide__img-description span {
  font-family: "Golos Text";
  font-style: normal;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_2);
  text-align: center;
}
.members-slide__img-description span:first-child {
  font-weight: 600;
  font-size: 1.5rem;
}
.members-slide__img-description span:last-child {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
  opacity: 0.6;
}
.members-slide a {
  margin: 1.25rem auto 0;
  max-width: 7rem;
}
@media (width < 992px) {
  .members {
    margin-top: 7.5rem 0 6.25rem;
  }
}
@media (width < 768px) {
  .members {
    margin: 7.5rem 0 6.25rem;
  }
}

.btn {
  padding: 0 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  border-radius: 4.125rem;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  font-feature-settings: "pnum" on, "lnum" on;
  line-height: 130%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.btn-primary {
  background-color: var(--brown_1);
  color: var(--white);
}
.btn-primary:hover {
  background-color: var(--primary-yellow);
  color: var(--brown_1);
}
@media (width < 576px) {
  .btn-primary {
    padding: 0 2.5rem;
    height: 3rem;
  }
}
.btn-secondary {
  border: 2px solid var(--brown_1);
  background-color: transparent;
  color: var(--brown_1);
}
.btn-secondary:hover {
  background-color: var(--brown_1);
  color: var(--white);
}
@media (width < 576px) {
  .btn-secondary {
    padding: 0 2.5rem;
    height: 3rem;
  }
}
.btn-info {
  padding: 0.75rem;
  height: 2.25rem;
  background-color: transparent;
  border: 1px solid var(--primary-blue);
  border-radius: 3.875rem;
  line-height: 120%;
  color: var(--primary-blue);
}
.btn-info:hover {
  background-color: var(--primary-blue);
  color: var(--white);
}

.slider-btn {
  width: 2.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  background-color: var(--brown_2);
  background-image: url("../img/icons/btn-arrow.svg");
  background-position-y: center;
  background-position-x: calc(50% + 2px);
  background-repeat: no-repeat;
  border-radius: 100%;
  border: none;
  transition: background 0.3s;
}
.slider-btn.prev {
  transform: rotate(180deg);
}
.slider-btn:hover {
  background-color: var(--primary-yellow);
  cursor: pointer;
}
.slider-btn:disabled {
  background-color: var(--brown_6);
}
@media (width < 768px) {
  .slider-btn {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.slider-single {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-single .slides {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.slider-single .slides .slide {
  min-width: 100%;
}
.slider-single .slides .slide > * {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-single .controls {
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.slider-single .controls .dots {
  display: flex;
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
}
.slider-single .controls .dots .dot {
  padding: 0;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: var(--brown_5);
  cursor: pointer;
  transition: background 0.3s;
}
.slider-single .controls .dots .dot:hover {
  background-color: var(--brown_3);
}
.slider-single .controls .dots .dot.active {
  background-color: var(--brown_2);
}

.slider-multi {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-multi .slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.slider-multi .slides .slide {
  min-width: 33.3333333333%;
}
.slider-multi .slides .slide > * {
  display: block;
  width: 100%;
  height: 100%;
}
@media (width < 768px) {
  .slider-multi .slides .slide {
    min-width: 100%;
  }
}
.slider-multi .controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.875rem;
       column-gap: 0.875rem;
}
.slider-multi .controls .counter {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--brown_4);
}
.slider-multi .controls .counter .current {
  color: var(--brown_2);
}

:root {
  --white: #ffffff;
  --primary-beige: #e9ded4;
  --primary-yellow: #fbce51;
  --primary-red: #f54932;
  --primary-blue: #3057a2;
  --brown_1: #1f1f1f;
  --brown_2: #313131;
  --brown_3: #595653;
  --brown_4: #d0d0d0;
  --brown_5: #d9d9d9;
  --brown_6: #d6d6d6;
}

.container {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 1262px;
}

.hint-red {
  color: var(--primary-red);
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */