@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/ticker';
@import 'blocks/agitation';
@import 'blocks/stages';
@import 'blocks/members';

@import 'components/buttons';
@import 'components/slider-single';
@import 'components/slider-multi';

:root {
  --white: #ffffff;

  --primary-beige: #e9ded4;
  --primary-yellow: #fbce51;
  --primary-red: #f54932;
  --primary-blue: #3057a2;

  --brown_1: #1f1f1f;
  --brown_2: #313131;
  --brown_3: #595653;
  --brown_4: #d0d0d0;
  --brown_5: #d9d9d9;
  --brown_6: #d6d6d6;
}

.container {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 1262px;
}

.hint-red {
  color: var(--primary-red);
  font-weight: 700;
}